
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:active,
*:focus,
*:hover {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
}

a {
    background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}