// Center-align a block level element
.center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// Container of the target element to vertical align
//noinspection CssUnknownProperty
.vertical-align-container () {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
// Vertical-align any type of element
// Requires parent will be vertical-align-container
.vertical-align () {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
// Horizontal-align any type of element
.horizontal-align () {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}