.font-face(@path-to-font, @filename, @font-family, @font-weight: normal, @font-style: normal) {
    @font-face {
        font-family: @font-family;
        src: url('@{path-to-font}/@{filename}.eot');
        src: url('@{path-to-font}/@{filename}.eot?#iefix') format('embedded-opentype'),
        url('@{path-to-font}/@{filename}.woff') format('woff'),
        url('@{path-to-font}/@{filename}.ttf') format('truetype'),
        url('@{path-to-font}/@{filename}.svg#@{font-family}') format('svg');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.font-face-modern(@path-to-font, @filename, @font-family, @font-weight: normal, @font-style: normal) {
    @font-face {
        font-family: @font-family;
        src: url('@{path-to-font}/@{filename}.woff2') format('woff2'),
        url('@{path-to-font}/@{filename}.woff') format('woff'),
        url('@{path-to-font}/@{filename}.ttf') format('truetype');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.font-face-modern-without-woff2(@path-to-font, @filename, @font-family, @font-weight: normal, @font-style: normal) {
    @font-face {
        font-family: @font-family;
        src: url('@{path-to-font}/@{filename}.woff') format('woff'),
        url('@{path-to-font}/@{filename}.ttf') format('truetype');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.font-face-super-modern(@path-to-font, @filename, @font-family, @font-weight: normal, @font-style: normal) {
    @font-face {
        font-family: @font-family;
        src: url('@{path-to-font}/@{filename}.woff2') format('woff2'),
        url('@{path-to-font}/@{filename}.woff') format('woff');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}