
// Triangles
// ------------------

.triangle-up(@size, @color) {
    width: 0;
    height: 0;
    border-left: @size solid transparent;
    border-right: @size solid transparent;

    border-bottom: @size solid @color;
}

.triangle-down(@size, @color) {
    width: 0;
    height: 0;
    border-left: @size solid transparent;
    border-right: @size solid transparent;

    border-top: @size solid @color;
}