.clear-link-style() {
    text-decoration: none;
}

.clear-control-style () {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    outline: none;

    &:focus { outline: none; }
}

.clear-list-style () {
    list-style: none;
    margin: 0;
    padding: 0;
}